.skills{
    color:white;
    width: 100%;
    height: 100%;
    background: rgb(8, 114, 156);
    padding: 1.3rem;
    justify-content: center;
}
.skills h1{
    justify-content: center;
    align-items: center;
}